# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Dependency directories
node_modules/

# IDE settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# JSON data files
app/words_sent.json
